# Generics
APP_NAME='Lynx E-Commerce'
APP_VERSION='0.0.1'
APP_PORT=3000

# DB Connection
DB_DRIVER='pgsql'
DB_HOST='localhost'
DB_PORT=5050
DB_NAME='lynx_ecommerce_db'
DB_USER='superUser'
DB_PASSWORD='superPassword'